body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
    background-image: linear-gradient(to bottom, #af0000, #870910, #5e1114, #361213, #0b0909);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
button{
  cursor:pointer;
}